
@{
    ViewBag.Title = "FakeTest";
}

<h2>FakeTest</h2>
<hr />

<div class="row">
    @using (Html.BeginForm("Test","AntiForgery",FormMethod.Post))
    {
        
        <strong> Index: </strong>
        @Html.TextBox("id", "", new { @class = "form-control" })
        <br />
        <button class="btn btn-danger" type="submit">Gönder</button>
    }
</div>
<hr />

